<!DOCTYPE html>
<html lang="en">

<%- include("head"); %>

<body class="bg-slate-50">
  <%- include("header"); %>

  <% if (!user) { %>
    <p>Welcome, sign up or log in if you'd like to create a new message!</p>
  <% } else { %>
    <p>
      Welcome back, <%= user.first_name[0].toUpperCase() + user.first_name.slice(1).toLowerCase() %>!
    </p>
  <% } %>

  <% for ( let i=0; i < posts.length; i++ ) { %>
    <h2>
      <%= posts[i].title %>
    </h2>
    <p>
      <%= posts[i].message %>
    </p>
    <p>
      <%= user && user.member_status !== 0 ? posts[i].pretty_date : "Unknown" %>
    </p>
    <p>
      <%= user && user.member_status !== 0 ? posts[i].author.first_name : "Unknown" %>
    </p>
    <% if (user && user.member_status === 2) { %>
      <form action="/delete/<%= posts[i].id %>" method="get">
        <button>Delete</button>
      </form>
    <% } %>
  <% } %>
</body>

</html>
